iOS/UIKit/WeatherSample/Pods
iOS/UIKit/WeatherSample/WeatherSample/Pods
iOS/UIKit/WeatherSample/WeatherSample/Products
iOS/UIKit/WeatherSample/WeatherSample/Frameworks
iOS/UIKit/WeatherSample/WeatherSample/WeatherSample/applanga_settings.applanga
iOS/UIKit/WeatherApp/WeatherSample.xcworkspace/xcuserdata
iOS/UIKit/WeatherApp/WeatherSample.xcodeproj/project.xcworkspace/xcuserdata
iOS/SwiftUI/WeatherApp/ios-sdk.xcworkspace/xcuserdata
iOS/SwiftUI/WeatherApp/ios-sdk.xcodeproj/project.xcworkspace/xcuserdata
iOS/SwiftUI/WeatherApp/Pods
iOS/UIKit-Cocoapods/UIKit-Cocoapods/Pods

Android/WeatherApp/build
Android/WeatherApp/app/build
Android/WeatherApp/.idea
Android/WeatherApp/.gradle
Android/WeatherApp/local.properties
Android/WeatherApp/**/*.applanga
Android/WeatherApp/src/main/res/raw/applanga_settings.applanga
applanga_meta.xml
iOS/UIKit/WeatherSample/WeatherSample.xcworkspace/xcuserdata

*/*/*/.DS_Store
.DS_Store

AppiumNoSdk/Android/node_modules
AppiumNoSdk/iOS/node_modules
*/*/*/.idea
*/*/*/.gradle
.idea
.gradle

AppiumNoSdk/iOS/UIKit/WeatherSample/Pods
AppiumNoSdk/iOS/UIKit/WeatherSample/WeatherSample/Pods
AppiumNoSdk/iOS/UIKit/WeatherSample/WeatherSample/Products
AppiumNoSdk/iOS/UIKit/WeatherSample/WeatherSample/Frameworks
AppiumNoSdk/iOS/UIKit/WeatherSample/WeatherSample/WeatherSample/applanga_settings.applanga
AppiumNoSdk/iOS/UIKit/WeatherApp/WeatherSample.xcworkspace/xcuserdata
AppiumNoSdk/iOS/UIKit/WeatherApp/WeatherSample.xcodeproj/project.xcworkspace/xcuserdata
AppiumNoSdk/iOS/SwiftUI/WeatherApp/ios-sdk.xcworkspace/xcuserdata
AppiumNoSdk/iOS/SwiftUI/WeatherApp/ios-sdk.xcodeproj/project.xcworkspace/xcuserdata
AppiumNoSdk/iOS/SwiftUI/WeatherApp/Pods
AppiumNoSdk/iOS/UIKit-Cocoapods/UIKit-Cocoapods/Pods

AppiumNoSdk/Android/WeatherApp/build
AppiumNoSdk/Android/WeatherApp/app/build
AppiumNoSdk/Android/WeatherApp/.idea
AppiumNoSdk/Android/WeatherApp/.gradle
AppiumNoSdk/Android/WeatherApp/local.properties
AppiumNoSdk/Android/WeatherApp/**/*.applanga
AppiumNoSdk/Android/WeatherApp/src/main/res/raw/applanga_settings.applanga
applanga_meta.xml
AppiumNoSdk/iOS/UIKit/WeatherSample/WeatherSample.xcworkspace/xcuserdata